body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.page-header {
    background-color: #4a90e2;
    margin: 0;
    padding: 20px 40px;
    text-align: center;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin: 0;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Noto Sans KR', cursive;
}

.date {
    color: #828282;
}

.post {
    margin-bottom: 70px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
}

.post h1 {
    text-align: left;
}

.post h1 a,
.post h1 a:visited {
    color: #000000;
    text-decoration: none;
}

.post p {
    text-align: left;
}

/* 이미지 중앙 정렬 및 크기 조절 */
.blog-image-list {
    object-fit: cover;
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
}

.rounded {
    border-radius: 8px;
}

/* post 안의 모든 이미지 */
.post img {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
}